# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
media/
staticfiles/
static/
.env

# Django Migrations (optional: only ignore if not sharing DB structure)
**/migrations/
!**/migrations/__init__.py

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
